.board {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px 70px 70px 70px;
}
.board-container {
    display:inline-block;
}

.square{
    height: 70px;
}

.light{
    background-color: white;
}


.dark{
    background-color: green;
}



